/* Reset (begin) */ /**/

    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section
    {
        display: block;
    }

    body
    {
        line-height: 1;
    }

    ol, ul
    {
        list-style: none;
    }
    blockquote, q
    {
        quotes: none;
    }
    blockquote:before,
    blockquote:after,
    q:before, q:after
    {
        content: '';
        content: none;
    }

    table
    {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* Reset (end) */ /**/

/* Global (begin) */ /**/
    body
    {
        font: 13px "Trebuchet MS", sans-serif;

        color: #333;
    }

    .wrapper
    {
        width: 1000px;
        margin: auto;
    }
    
    :link
    {
        color: #255199;
    }

    :visited:hover,
    :link:hover
    {
        color: #fe6510;
    }
/* Global (end) */ /**/

/* Header (begin) */ /**/
    header
    {
        position: relative;
        overflow: hidden;

        min-height: 120px;

        background: #dcdee3 url(../i/head-bg.jpg) 0 100% repeat-x;
    }

    header:after
    {
        position: absolute;
        left: 50%;
        bottom: 0;

        width: 1035px;
        height: 390px;
        margin-left: -517px;

        content: "";

        background: url(../i/head-decor.jpg) no-repeat;
    }

    .header-i
    {
        position: relative;
        z-index: 1;

        margin-top: 35px;

        white-space: nowrap;
    }

    .header-col
    {
        display: inline-block;

        vertical-align: top;
    }
    
    .header-col-left
    {
        width: 36%;

        text-align: center;
    }

    .header-col-center
    {
        width: 48%;
    }

    .header-col-right
    {
        width: 16%;
    }

    .header-col-i
    {
        padding-right: 40px;
    }

    .header-col-left .header-col-i
    {
        padding: 0 40px;
    }
    /* menu (begin) */ /**/
        .menu
        {
            margin-top: -8px;
        }

        .menu li
        {
            display: inline-block;

            margin-top: 8px;
        }
        
        .menu ul
        {
            white-space: normal;
        }

        .menu li a,
        .menu li span
        {
            white-space: nowrap;
        }

        .menu-main
        {
            font-size: 12px;

            line-height: 12px;
        }

        .menu-main li
        {
            margin-right: 18px;
        }

        .menu-secondary
        {
            margin-top: 12px;

            line-height: 13px;
        }

        .menu-secondary li
        {
            margin-right: 22px;

            text-transform: uppercase;
        }
    /* menu (end) */ /**/

    /* Login (begin) */ /**/
        .login
        {
            font-size: 12px;

            display: inline-block;

            position: relative;
            top: -12px;

            padding: 10px 15px;

            line-height: 12px;
            text-decoration: none;

            border: 2px solid #f89e00;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
        }
        
        .login .line
        {
            position: relative;
            top: -1px;

            line-height: 12px;

            border-bottom: 1px dashed;
        }

        .login .text
        {
            position: relative;
            top: 1px;
            border-collapse: collapse;
        }
    /* Login (end) */ /**/
/* Header (end) */ /**/

/* Content (begin) */ /**/
    .content
    {
        margin-top: 30px;

        white-space: nowrap;
    }

    .column
    {
        display: inline-block;

        vertical-align: top;
    }

    .column-left
    {
        width: 36%;
    }

    .column-right
    {
        width: 64%;
    }

    .column-i
    {
        white-space: normal;
    }

    .column-left .column-i
    {
        padding: 0 40px;
    }

    .column-right .column-i
    {
        padding-right: 40px;
    }

    /* Menu (begin) */ /**/
        .side-menu
        {
            font-size: 14px;

            padding-right: 20px;
        }

        .side-menu li
        {
            margin-bottom: 3px;

            line-height: 26px;
        }

        .side-menu .active
        {
            font-weight: bold;

            position: relative;

            padding-left: 20px;
            margin-left: -20px;

            color: #fff;
            background: #f99c00 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAaCAMAAAC5Oj0UAAAATlBMVEXuYwfvZwbuYQfwbAXyeAP+tgD8sAD6owD0fwH/0B3+uwD4lAD/3Fr/1Cr/xgf2jQD1hgD7qgD5nAD+0j//zBDCVQP/wADxcgT/2EX/7qIUd5UEAAAAOklEQVR42j3AtQHDAADAMJWZG/r/0WyWXyxxjzkecYl/PGOMaxziGJ84xTdu8Yp3nGMfU+xiE2QbQ1Y+RwyzL1ph6wAAAABJRU5ErkJggg==) repeat-x;
        }

        .side-menu .active:before,
        .side-menu .active:after
        {
            position: absolute;
            top: 0;

            height: 26px;

            content: "";
        }

        .side-menu .active:before
        {
            left: 0;

            width: 5px;

            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAaCAMAAABIMWaZAAAA0lBMVEX////+uwD/wAD4lAD/xgf5nAD7qgD8sAD/zBD6owD2jQDyeAP0fwHxcgT1hgD+tgDwbAXvZwb/0B3/1Cr/2EXuYwftry73x0TwtTHimCPUexX+4HryujPx18HfkiD93nD+11P/0iXIZRvViVDPcA/cjB3w1cHhaBPNbxnopCjXgRj+6JPlnib/2k//4nLRdRL0vzXjsYnqqiv/9NDQZxXjcBbqZwz+8s//543/3mLVhkLZhhr/7aLrZQz92WHHXwn61Wj+6KTubgr/2kb7zT7Maw3MybH6AAAAbklEQVR42g3AAwLDQABE0V8TyW5S27bN+1+p84BNpQmv++TK4Xucn3g2Zp5H4WOtZdkyxlCNC8WwkA8K64AwygnTmFCKCvWE0IsIl5AwTgrlrLBIC92U8MsIw7fjOJx3rutSe+x9H1bbwQ3od9p/npELjXCk6CAAAAAASUVORK5CYII=) no-repeat;
        }

        .side-menu .active:after
        {
            right: 0;

            width: 15px;

            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAaCAMAAABfE/ZQAAABsFBMVEX////5nAD7qgD6owD8sAD4lAD+tgD2jQD+uwD0fwH1hgD/wAD/xgfyeAPxcgT/zBDwbAX/0B3/1CrvZwb/2EXuYwf3x0TtqDr//fjlhir2lBn734TkkzX524D/wAH+yj7//PH/zx7rs1T2jwP9zVPvZg79+fbNbxn89/H41YH/yBv56MbmjTDXghv/4WXsv3z84on/65X/2D3NcB/944Lbeir/8a/feyfzfg3+vAP/5XfzynT/2Uv+yCv25dT/32P91G/jo0r/4n3hq4D/yxn02778tAzWhDHwoi//32n+/PruZgv+3Gjqqy3/1Cv/0yv94H3qqzr+6Jz7shX32Z3xdwv1iBH89Ob/7Jn+0j/1niX+uAf67+HHYRDkmTz5oQz04M7fpXr9553kgCfSfzv+7aXCVQP78+3wcBL6pQT/8bDuxID812XxcQz1xEb/+ejtchz+9Nj1hwL++/P99Nr47OLcjyr0xVL1zXL80Ub/43b7uTbbciH303XNdTL0zW3+/fr84YX6zU399eD/32HvaAfqvovsuF7obRn94In4lwb/3mTQdyH0387vwGrfnlh+YyC3AAAA20lEQVR42kXH04LDQAAF0Lu2knZt27Zt27Zr27/cZmaSOW8HR6vblQDXf9eruy7kD+i7njdfP5SrVKMThzb7l3xBENa7hzvzf9nzJBvtJe8O+hyiylmm+SHPpGaXTFryDKq8edqyKz2VGRrzrbUASJadVDRtHQCJivnakWor4rmdyfALErgng6cDcdxFwdQykhT+xf9TIEVWc9w2ByCd+S4+dyMmjdkvjUCSRQ22LjSSZxN7RcFxELmSt5uGS1CiKLoeB3pCYNTqlc++2z/I6rzGs5l6KO7NVw/govtdLEuXa+5bAAAAAElFTkSuQmCC) no-repeat;
        }
    /* Menu (end) */ /**/

    /* Tizer (begin) */ /**/
        .tizer
        {
            margin-top: 75px;
        }

        .tizer h1
        {
            font-size: 18px;
            font-weight: bold;
        }

        .tizer h1 a
        {
            position: relative;

            display: inline-block;

            padding-top: 150px;
        }

        .tizer h1 a img
        {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .tizer p
        {
            margin-top: 10px;

            line-height: 1.6;
        }
    /* Tizer (end) */ /**/
/* Content (end) */ /**/
